#root {
  min-height: 100vh;
  background-image: url("./images/photo-1588032786045-59cefda005c0.jpg");
  background-repeat: no-repeat;
background-size: 100%;
background-position: center;
background-color: black;
}

.principal {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fdfffc;
} 


.background {
  background-color: black;
  height: 70vh;
  width: 100%;
  padding-top: 175px;
  padding-bottom: 150px;
  position: absolute;
  z-index: 0;
  opacity: 0.5;
  border-radius: 10px;
}

.fila {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#boton {
  line-height: 70px;
  width: 115px;
  height: 100px;
  margin: 5px;
  margin-left: 10px;
  border: 1px solid black;   
} 

.tagw {
  color: #fdfffc;
}

#rangew {
  margin: 5px;
  height: 2px;
  color: #fdfffc;
  -webkit-appearance: none;
  border-radius: 10px;
  width: 300px;
  background-color: #fdfffc;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background-color: #125e8a;
  border-radius: 50%;
  border: 1px solid #fdfffc;
}

.play {
  background-color: #125e8a;
  border: 1px solid white;
}

.play:hover {
  background-color: #125e8a;
}

.clear {
  background-color: #c1292e;
  border: 1px solid white;
}


@media all and (max-width: 500px) {
  #boton {
    padding: 0px;
    width: 100px;
    height: 100px;
  }
}

@media all and (max-width: 450px) {


  #boton {
    padding: 0px;
    width: 75px;
    height: 75px;
  }
}

@media all and (max-width: 360px) {
  #boton {
    width: 61px;
    height: 61px;
    margin: 4px;
  }
}

