#root {
  min-height: 100vh;
  background-color: rgb(48, 48, 48);
}

.principal {
  width: auto;
  height: 100vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#boton {
  line-height: 70px;
  width: 115px;
  height: 100px;
  margin: 5px;
  margin-left: 20px;
}

.box {
  background-color: antiquewhite;
  height: 100%;
  width: 100%;
}

